body{
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a {
color: white;
text-decoration: none;
}
a:hover {
    color: blue;
}
.boxing{
    border: 2px solid red;
}
header{
    display: flex;
    width: 1920px;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    position: fixed;
}
.logo{
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
}
.headerlist{
    font-size: 20px;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-right: 15px;
    padding-right: 15px;
}
.container1intro{
    display: flex;
    height: 800px;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}
.pb{
    background-image: url(images/WhatsApp\ Image\ 2022-07-04\ at\ 11.55.56.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid #13bac1;

}
.introtext{
    font-family: 'Josefin Sans', sans-serif;
    color: #585858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mynameis{
    font-size: 30px;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}
.nicopuelacher{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: #13bac1;
}
.idesignweb{
    font-size: 40px;
    margin: 0;
    padding: 10px 0 0 0;
}
.slogan{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 45px;
}
.tuerkis{
    color: #13bac1;
}
.container2heading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.container2competencies{
    height: 1200px;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    color: white;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
}
.comcards{
    font-family: 'Josefin Sans', sans-serif;
    height: 500px;
    width: 400px;
    background-color: #585858;
    border-radius: 12px;
    margin-left: 50px;
}
.cardheading{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: #13bac1;
}
.carddes{
    padding-left: 20px;
    font-size: 20px;
}
.comcardlist{
    font-size: 18px;
}
.htmlcardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/HTML5bg.jpg);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
.csscardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/CSSbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.jscardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/JSbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.netlifycardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Netlifybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.formsubmitcardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Formsubmitbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.communicationbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Communicationbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.powerpointbg{
    height: 250px;
    width: 400px;
    background-image: url(images/PowerPointcard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.thumbnailbg{
    height: 250px;
    width: 400px;
    background-image: url(images/youtubecard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.htmlcard{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.csscard{
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.jscard{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.thumbnailcard{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

}
.Subsection1heading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}
.Subsection1{
    height: 600px;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    color: white;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
}
.container3myprojectsheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.container3myprojects{
    height: 600px;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    color: white;
    background-color:#2d2d2d;
    justify-content: center;
    align-items: center;
}
.tupperwarebg{
    height: 250px;
    width: 400px;
    background-image: url(images/Tupperwarecard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.tupperwarecard{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.revivedbg{
    height: 250px;
    width: 400px;
    background-image: url(images/RvivedCardbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.revivedcard{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container4socialsheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}
.container4socials{
    font-family: 'Josefin Sans', sans-serif;;
    height: 300px;
    display: grid;
    width: auto;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2d2d2d;
}
.container4socialsbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    border-radius: 12px;
    padding: 18px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container4socialsboxbox{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    margin-left: 20px;
    background-color: #585858;
}
.con4item{
    margin: 0 5px;
    height: 100px;
    width: 100px;
}
.Freelancecon{
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.Freeheading{
    margin: 0;
}
.upworklogo{
    background-image: url(images/UpWorkLogo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.fiverrlogo{
    background-image: url(images/Fiverr_Logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.twitterlogo{
    background-image: url(images/twitter-logo-1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.Instalogo{
    background-image: url(images/Instalogo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container6formheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}
.container6form{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans' , sans-serif;
    color: white;
    background-color: #2d2d2d;
    height: 800px;
    width: auto;
}
.con6boxtext{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 200px;
    width: 350px;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: #585858;
    border-radius: 12px;
    padding: 18px;
    margin-right: 15px;
}
.con6text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con6formdes{
    font-size: 20px;
}
.con6boxform{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: #585858;
    border-radius: 12px;
    padding: 18px; 
    margin-left: 15px; 
}
.con6form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formheading{
    font-size: 30px;
    margin: 0;
}
::placeholder{
    color: white;
}
.inputtext{
    background-color: #898989;
    height: 50px;
    width: 590px;
    border-radius: 12px;
    border: none;
    padding-left: 10px;
    margin: 10px 0;
}
.inputmessage{
    background-color: #898989;
    height: 50px;
    width: 590px;
    padding-left: 10px;
    padding-bottom: 250px;
    border-radius: 12px;
    border: none;
    margin: 10px 0;
}
.sendbtn{
    background-color: #13bac1;
    font-family: 'Josefin Sans' , sans-serif;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 600px;
    border-radius: 12px;
    border: none;
    margin: 10px 0;
}
.AGBBox{
    color: blue;
}
.AGBBox:hover{
    color: #13bac1;
}
footer{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #585858;
    color: #f6f6f6;
    height: 50px;
    justify-content: center;
    align-items: center;
}





.TWBody{
    font-family: 'Josefin Sans', sans-serif;
}
.container7bg{
    background-color: #f6f6f6;
    height: 400px;
    width: auto;

}
.container8bg{
    background-color: #2d2d2d;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.TupperwareOverlay{
    height: 375px;
    width: 525px;
    background-image: url(images/TupperwareOverlay.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -300px;
    border-radius: 12px;
}
.PowerPointOverlay{
    height: 375px;
    width: 525px;
    background-image: url(images/PowerPointOverlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -300px;
    border-radius: 12px;
}
.ThumbnailOverlay{
    width: 400px;
    height: 250px;
    background-image: url(images/youtubecardoverlay.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -300px;
    border-radius: 12px;
}
.RevivedOverlay{
    width: 400px;
    height: 250px;
    background-image: url(images/RevivedOverlay.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -300px;
    border-radius: 12px;
}
.AboutMeOverlay{
    width: 400px;
    height: 250px;
    background-image: url(images/AbaoutMeoverlay.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -300px;
    border-radius: 12px;

}
.container9DescriptionTW{
    display: flex;
    flex-direction: column;
    height: 1400px;
    width: auto;
    background-color: #2d2d2d;
    margin: 0 2%;
}
.con9heading{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con9content{
    height: 1400px;
    width: auto;
    background-color: #2d2d2d;
    display: grid;
    justify-content: center;
    align-items: center;
}
.AboutMeContent{
    height: 4000px;
    width: auto;
    background-color: #2d2d2d;
    display: grid;
    justify-content: center;
    align-items: center;
}
.con9explain{
    flex-direction: column;
    height: 1200px;
    width: auto;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.TWBoxtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 600px;
    background-color: #585858;
    border-radius: 12px;
    margin: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

}
.TWheading{
    font-size: 35px;
}
.TWBottomtext{
    color: white;
    font-size: 30px;
    padding: 0 50px;
}
.TWboximage{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 743px;
    height: 391px;
    background-color: #585858;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TWimage{
    width: 693px;
    height: 341px;
    background-image: url(images/ScreenshotTWNewsletter.JPG);
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}
.WhatisRevived{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.Revivedindeximg{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.Revivedindex{
    width: 693px;
    height: 341px;
    background-image: url(images/Revivedindex.JPG);
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}
.Wixbox{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.Wixlogo{
    width: 693px;
    height: 341px;
    background-image: url(images/Wix\ Logo.png);
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
}
.TWPossible{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 800px;
    background-color: #585858;
    border-radius: 12px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-right: 50px;
}
.YTContainer{
    display: flex;
    flex-direction: column;
    height: 4000px;
    width: auto;
    background-color: #2d2d2d;
    margin: 0 2%;
}
.con9explainYT{
    flex-direction: column;
    height: 3250px;
    width: auto;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.AboutMeContainer{
    display: flex;
    flex-direction: column;
    height: 4000px;
    width: auto;
    background-color: #2d2d2d;
    margin: 0 2%;
}
.PowerPointContainer{
    display: flex;
    flex-direction: column;
    height: 4000px;
    width: auto;
    background-color: #2d2d2d;
    margin: 0 2%;
}
.revivedcontainer{
    display: flex;
    flex-direction: column;
    height: 2000px;
    width: auto;
    background-color: #2d2d2d;
    margin: 0 2%;
}
.revivedcontent{
    height: 2000px;
    width: auto;
    background-color: #2d2d2d;
    display: grid;
    justify-content: center;
    align-items: center; 
}
.PowerPointContent{
    height: 4000px;
    width: auto;
    background-color: #2d2d2d;
    display: grid;
    justify-content: center;
    align-items: center;
}
.AlsoInterlist{
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
    font-size: 30px;
}




.GalleryBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #585858;
    border-radius: 12px;
    margin: 30px;
}
.Cookingthumbscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.GalleryThumb{
    width: 1338px;
    height: 1112px;
    background-image: url(images/YouTubeThumbnail\ Gallery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.Cookingimg1{
    width: 512px;
    height: 288px;
    background-image: url(images/Cooking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-right: 20px;
}
.Cookingimg2{
    width: 512px;
    height: 288px;
    background-image: url(images/CookingThumb2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin-left: 20px;
}
.MVimg1{
    width: 512px;
    height: 288px;
    background-image: url(images/MusicVidThumb1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    margin-right: 20px;
}
.MVimg2{
    width: 512px;
    height: 288px;
    background-image: url(images/MusicVidThumb2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-left: 20px;
}
.Galleryheading{
    font-size: 50px;
    margin-bottom: 50px;
}




.ImageofMe{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 450px;
    width: 450px;
}
.Revivedimg{
    height: 400px;
    width: 400px;
    background-image: url(images/Revivedimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.Me{
    background-image: url(images/IMG-20220517-WA0012.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 400px;
    width: 400px;
}
.MyDatalist{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.HowitstartedPP{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.HowdidIknow{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.Odinimage{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 450px;
    width: 450px;
}
.GamingTennis{
    height: 450px;
    width: 450px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.GamingTennisimg{
    background-image: url(images/GamingTennis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    border-radius: 12px;
}

.PPUtopi{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.PPUtopiimg{
    background-image: url(images/PPUtoia.JPG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 432px;
    width: 752px;
}
.Odinlogo{
    background-image: url(images/odin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    border-radius: 12px;
}
.headerlist :hover{
    color: #13bac1;
}
.AlsoInterlist :hover{
    color: #13bac1;
}

@media (max-width: 600px) {
     .facet_sidebar { 
        display: none; 
    } 
    .logo{
        font-size: 25px;
    }
    header{
        position: absolute;
        max-width: 100%;
    }
    .headerlist{
        font-size: 0px;
    }
    .container1intro{
        height: 600px;
        justify-content: center;
    }
    .mynameis{
        align-self: center;
        font-size: 30px;
    }
    .nicopuelacher{
        font-size: 50px;
    }
    .idesignweb{
        font-size: 30px;
    }
    .slogan{
        font-size: 25px;
    }
    .container2competencies{
        height: 3500px;
    }
    .container2heading{
        font-size: 40px;
    }
    .container3myprojectsheading{
        font-size: 40px;
    }
    .container4socialsheading{
        font-size: 30px;
    }
    .Subsection1heading{
        font-size: 25px;
    }
    .container6formheading{
        font-size: 30px;
    }
    .htmlcard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .csscard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .jscard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .netlifycard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;  
    }
    .container3myprojects{
        height: 1250px;
    }
    .revivedcard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .Subsection1{
        height: 1250px;
    }
    .thumbnailcard{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .container4socials{
        flex-direction: column;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 675px;
    }
    .container4socialsboxbox{
        margin-left: 0px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .Freelancecon{
        margin-right: 0px;
    }
    .container6form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 1000px;
    }
    .con6boxtext{
        margin-right: 0px;
    }
    .con6boxform{
        height: 600px;
        width: 450px;
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .inputtext{
        width: 400px;
    }
    .AGBBOX{
        width: 400px;
    }
    .sendbtn{
        width: 400px;
    }
    .inputmessage{
        width: 400px;
    }
    .comcards{
        margin-left: 0;
    }

}