body{
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}
.boxing{
    border: 2px solid red;
}
header{
    display: flex;
    background-color: #2d2d2d;
}
.logo{
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
    
}
.headerlist{
    font-size: 20px;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12 px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding-right: 15px;
}
.container1intro{
    display: flex;
    height: 800px;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}
.pb{
    background-image: url(images/WhatsApp\ Image\ 2022-07-04\ at\ 11.55.56.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid #13bac1;

}
.introtext{
    font-family: 'Josefin Sans', sans-serif;
    color: #585858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mynameis{
    font-size: 30px;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}
.nicopuelacher{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: #13bac1;
}
.idesignweb{
    font-size: 40px;
    margin: 0;
    padding: 10px 0 0 0;
}
.slogan{
    margin: 0;
    padding: 0;
    font-size: 45px;
}
.tuerkis{
    color: #13bac1;
}
.container2heading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.container2competencies{
    height: 1200px;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    color: white;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
}
.comcards{
    font-family: 'Josefin Sans', sans-serif;
    height: 500px;
    width: 400px;
    background-color: #585858;
    border-radius: 12px;
    margin-left: 50px;
}
.cardheading{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: #13bac1;
}
.carddes{
    padding-left: 20px;
    font-size: 20px;
}
.comcardlist{
    font-size: 18px;
}
.htmlcardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/HTML5bg.jpg);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
.csscardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/CSSbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.jscardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/JSbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.netlifycardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Netlifybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.formsubmitcardbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Formsubmitbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.communicationbg{
    height: 250px;
    width: 400px;
    background-image: url(images/Communicationbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.htmlcard{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.csscard{
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.jscard{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container3myprojectsheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.container3myprojects{
    height: 600px;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    color: white;
    background-color:#2d2d2d;
    justify-content: center;
    align-items: center;
}
.tupperwarebg{
    height: 250px;
    width: 400px;
    background-image: url(images/Tupperwarecard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.tupperwarecard{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.revivedbg{
    height: 250px;
    width: 400px;
    background-image: url(images/RvivedCardbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.revivedcard{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container4socialsheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}
.container4socials{
    height: 300px;
    display: grid;
    width: auto;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2d2d2d;
}
.container4socialsbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    border-radius: 12px;
    padding: 18px;
}
.con4item{
    margin: 0 10px;
    height: 200px;
    width: 200px;
}
.upworklogo{
    background-image: url(images/UpWorkLogo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.fiverrlogo{
    background-image: url(images/Fiverr_Logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.twitterlogo{
    background-image: url(images/twitter-logo-1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.Instalogo{
    background-image: url(images/Instalogo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.mysignt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    height: 300px;
    width: 450px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}
.container6formheading{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
}
.container6form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    height: 800px;
    width: auto;
    color: white;
    background-color: #2d2d2d;
}
.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    border-radius: 12px;
    padding: 18px;
    margin: 0 30%;
}
.con6form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputinfo{
    height: 40px;
    width: 600px;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 12px;
    border: none;
}
.inputmessage{
    height: 40px;
    width: 600px;
    margin: 5px 0;
    padding-left: 10px;
    padding-bottom: 360px;
    border-radius: 12px;
    border: none;
}
.sendbtn{
    font-family: 'Josefin Sans', sans-serif;
    height: 40px;
    width: 600px;
    margin: 5px 0;
    border-radius: 12px;
    border: none;
    background-color: #13bac1;
    color: white;
}
footer{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #585858;
    color: #f6f6f6;
    height: 40px;
    justify-content: center;
    align-items: center;
}